* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  text-decoration: none;
  box-sizing: border-box; }

body {
  line-height: 1;
  font-family: "Avenir Next", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }
  body .container {
    width: 100%; }
    body .container .main {
      width: 312px;
      margin: 44px auto;
      text-align: center; }
      body .container .main .icon {
        margin-top: 44px;
        margin-bottom: 20px; }
      body .container .main .title {
        margin-bottom: 20px; }
      body .container .main .eg {
        margin-bottom: 44px; }
      body .container .main .contact {
        margin-bottom: 20px; }
