<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Mangmor
    link(rel="icon", type="image/png", href="./resources/icon.svg")
    link(rel="stylesheet", type="text/css", href="style.css")
  body
    .container
      .main
        .icon
          img(src="resources/icon.svg", width="72px")
        .title
          img(src="resources/yep.svg", width="20px")
        .eg
          img(src="resources/yep-studio@2x.gif", width="312px")
        .contact
          img(img src="./resources/contact.svg", width="46px")
        .dribbble
          a(href="http://dribbble.com/mangmor")
            img(src="resources/dribbble.svg", width="30px")
